* {
    box-sizing: border-box;
}

div {
    padding: 1.18%;
    background: rgba(241, 183, 248, 0.1);
}

input[type=text],
textarea,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
}

input[type=text]:focus,
textarea:focus,
select:focus {
    box-shadow: 0px 0px 8px 2px #888888;
    outline-style: groove;
    outline-color: rgb(100, 81, 81);
}

input[type=button] {
    width: auto;
    float: right;
    cursor: pointer;
    padding: 7px;
}

input[type="date"] {
    background-color: #0080ff;
    padding: 7px;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.rating{
    font-size: xx-large;
    display: flex;
    width: fit-content;
    margin: 0% auto;
}

.star{
    padding: 0.1em;
    padding-right: 0.1em;
    color: rgb(255, 255, 255);
}

.stared{
    color: rgb(24, 200, 21);
}


/* select the siblings of .star element that are not after it when hovered on it and the .rating */
.rating:hover :not(.star:hover~.star, .stared){ 
    color: rgb(68, 161, 34);
}

.rating:hover :not(.star:hover~.star, :not(.stared)){ 
    color: rgb(19, 90, 23);
}