* {
    box-sizing: border-box;
}

div {
    padding: 1.18%;
    font-family: Arial, Helvetica, sans-serif;
}

.contents{
    margin:5% 20% 5% 20%;
}

input[type=text],
textarea,
select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
}

input[type=text]:focus,
textarea:focus,
select:focus {
    box-shadow: 0px 0px 8px 2px #888888;
    outline-style: groove;
    outline-color: rgb(100, 81, 81);
}

input[type=button] {
    width: auto;
    /* float: right; */
    cursor: pointer;
    padding: 7px;
}

input[type="date"] {
    background-color: #0080ff;
    padding: 7px;
    color: rgb(255, 255, 255);
    border: none;
    outline: none;
    border-radius: 5px;
}

input[type=radio]{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: auto 10px;
}

::-webkit-calendar-picker-indicator {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

.rating-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}
.rating{
    font-size: xx-large;
    display: flex;
    width: fit-content;
    margin: 0% auto;
    padding: 1.18%;
    border: 4px solid rgb(190, 236, 181);
    border-radius: 25px;
    background-color: rgb(255, 204, 212);
    box-shadow: 0px 0px 8px 2px #888888;
}

.star{
    padding: 0.1em;
    padding-right: 0.1em;
    color: rgb(255, 255, 255);
}

.stared{
    color: rgb(24, 200, 21);
}


/* select the siblings of .star element that are not after it when hovered on it and the .rating */
.rating:hover :not(.star:hover~.star, .stared){ 
    color: rgb(68, 161, 34);
}

.rating:hover :not(.star:hover~.star, :not(.stared)){ 
    color: rgb(19, 90, 23);
}

#bt{
    border-radius: 1em;
    border: #ccc;
    background-image: linear-gradient(pink, lightblue);
}

#bt:hover{
    box-shadow: 0px 0px 8px 2px #888888;
}